{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	
   {% if not cart_items %}
   <div class="text-center">
      <br>
      <h1 class="text-center product_title">
        Seu carrinho de compras esta vazio
      </h1>
      <br>
      <p class="text-center">
        Por favor cique <a href="{% url 'home' %}">aqui</a> para continuar comprando
      </p>
    </div>
   {% else %}
  <div class="text-center">
    <br>
    <div class="text-center product_title">
      Seu carrinho de compras
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
      <table class="table cart_table">
        <thead class="cart_thead">
          <tr>
            <th colspan="4">
              Seus itens
            </th>
          </tr>
        </thead>
        {% for cart_item in cart_items %}
          <tr>
            <td>
              <a href="{% url 'cart' %}">
                <img class="row-image" src="{{cart_item.produto.imageURL}}" alt="">
              </a>
            </td>
            <td class="text-left">
              {{cart_item.produto.nome}}
              Preço unitario: {{cart_item.produto.preco|floatformat:2}} MT
              <br>
              Qtd: {{cart_item.quantidade}} x {{cart_item.produto.preco}} MT
            </td>
            <td>
             {{cart_item.sub_total}}
            </td>
			{% if cart_item.quantidade < cart_item.produto.stock %}
			<td>
			 &nbsp<a href="{% url 'add_cart' cart_item.produto_id %}"><i class="fas fa-plus-circle cart_icon"></i></a>
			 &nbsp<a href="{% url 'cart_remove' cart_item.produto_id %}"><i class="fas fa-minus-circle cart_icon"></i></a>
			 &nbsp<a href="{% url 'cart_remove_produto' cart_item.produto_id %}"><i class="fas fa-trash-alt cart_icon"></i></a>
			</td>
			{% else %}
			<td>
			 &nbsp<a href="{% url 'cart_remove' cart_item.produto_id %}"><i class="fas fa-minus-circle cart_icon"></i></a>
			 &nbsp<a href="{% url 'cart_remove_produto' cart_item.produto_id %}"><i class="fas fa-trash-alt cart_icon"></i></a>
			</td>
			{% endif %}
          </tr>
        {% endfor %}

      </table>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
      <table class="table cart_table">
        <thead class="cart_thead">
            <tr>
              <th>
                Check out
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Por favor, verifique os seus items de compra antes de prosseguir com o pagamento.
              </td>
            </tr>
            <tr>
              <td class="text-left">
                Total: <strong>{{total|floatformat:2}} MT</strong>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="mx-auto">
          <form class="" action="" method="POST">
            {% csrf_token %}
            <script src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="{{ data_key }}"
            data-amount="{{ stripe_total }}"
            data-name="Nyau Galeria"
            data-description="{{ description }}"
            data-locale="auto"
            data-currency="usd"
            data-shipping-address="true"
            data-billing-address="true"
            data-zip-code="true">
            </script>
          </form>
          <a href="{% url 'home' %}" style="text-decoration: none;">
            <button type="button" class="btn btn-shop btn-lg btn-block bg-dark text-white">
              Continue Comprando
            </button>
          </a>
        </div>
    </div>
  </div>
 {% endif %}
{% endblock content %}