{% extends 'base.html' %}
{% load static %}
{% block content %}
<br/>
 <div class="container py-5">
   <div class="row mt-5">
     <div class="col-10 mx-auto col-md-6 my-5">
       <img class="thumbnail-item" src="{{produto.imageURL}}" alt="">
     </div>
       <div>
         <h1 class="product_title">{{produto.nome}}</h1>
         <p><strong>Preço: {{produto.preco|floatformat:2}} MT </strong></p>
         <p class="produto_tecnica">{{produto.tecnica}}</p>
         <p class="produto_autor">Autor: {{produto.autor}}</p>
         <p class="produto_dimensoes">Dimensões: {{produto.dimensoes}}</p>
         <p class="produto_tecnica">Tema: {{produto.tema}}</p>
         <p class="produto_ano">Ano: {{produto.ano}}</p>
         <p class="text-justify product_text">{{produto.descricao}}</p>
         <a href="{% url 'add_cart' produto.id %}" style="text-decoration: none;">
            <button type="button" class="btn btn-shop-detail btn-lg btn-block bg-dark text-white">
              Comprar
            </button>
          </a>
         {% comment %} <span>
             <a class="btn add-btn update-cart" href="{% url 'add_cart' produto.id %}">Comprar</a>
         </span> {% endcomment %}
       </div>
   </div>
</div> 
</br>
{% endblock content %}